* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

$border: #ddd;
$light-gray: #5a5a5a;
$gray: #1e1e20;
$yellow: #ffdf3c;
$white: #fff;

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
