body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* width: 39rem;
  height: 31.25rem; */
  box-shadow: 0 3.75rem 7.5rem -1.875rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: .0625rem solid red; */
  position: relative;
  background-color: $white;
  animation: elevation 1s ease-in-out alternate infinite;
}
.menu {
  width: 2.625rem;
  height: 24.625rem;
}
.form {
  width: 34.875rem;
  height: 24.625rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social {
  width: 8rem;
  height: 24.625rem;
  background-color: $yellow;
}
.info {
  position: absolute;
  width: 18.75rem;
  height: 17.625rem;
  background-color: $gray;
  right: 0;
}

@keyframes elevation {
  0% {
    box-shadow: 0 3.75rem 7.5rem 0rem rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 3.75rem 7.5rem -3.75rem rgba(0, 0, 0, 0.4);
  }
}
